<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div class="container">
    <h3>Books</h3>
    <table class="text-center">
        <th>
            <td>ID</td>
            <td>Title</td>
            <td>Publisher</td>
        </th>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">123</td>
            <td th:text="${book.title}">Spring in Action</td>
            <td th:text="${book.publisher.name}">Wrox</td>
        </tr>
    </table>
</div>
</body>
</html>